@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

$--green: #27ae60;
$--orange: #f39c12;
$--red: #e74c3c;
$--black: #333;
$light-color: #666;
$--white: #fff;
$--light-bg: #f6f6f6;
$border: 0.2rem solid $--black;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2.5rem;
    align-items: flex-start;
    justify-content: center;
}

*{
    font-family: 'Rubik',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    color: $--black;
}

*::selection{
    background-color: $--green;
    color: $--white;
}

*::-webkit-scrollbar{
    height: 0.5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: $--green;
}

body{
    background-color: $--light-bg;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn, .delete-btn, .option-btn{
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    color: $--white;
    font-size: 2rem;
    padding: 1.3rem 3rem;
    cursor: pointer;
    text-align: center;

    &:hover{
        background-color: $--black;
    }
}

.btn{
    background-color: $--green;
}

.delete-btn{
    background-color: $--red;
}

.option-btn{
    background-color: $--orange;
}

.flex-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex-btn > *{
    flex: 1;
}

.title{
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: $--black;
    font-size: 3.5rem;
}

.message{
    position: sticky;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $--light-bg;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 10000;

    span{
        font-size: 2rem;
        color: $--black;
    }

    i{
        font-size: 2.5rem;
        cursor: pointer;
        color: $--red;

        &:hover{
            color: $--black;
        }
    }
}

.empty{
    padding: 1.5rem;
    background: $--white;
    color: $--red;
    border-radius: 0.5rem;
    border: $border;
    font-size: 2rem;
    text-align: center;
    box-shadow: $box-shadow;
}

@keyframes fadeIn{
    0%{
        transform: translateY(1rem);
    }
}

#menu-btn {
    display: none;
}

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        width: 50rem;
        background-color: $--white;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        border: $border;
        text-align: center;
        padding: 2rem;

        h3{
            font-size: 3rem;
            color: $--black;
            margin-bottom: 1rem;
        }

        .box{
            width: 100%;
            margin: 1rem 0;
            border-radius: 0.5rem;
            border: $border;
            padding: 1.2rem 1.4rem;
            font-size: 1.8rem;
            color: $--black;
            background-color: $--light-bg;
        }

        p{
            margin-top: 2rem;
            font-size: 2.2rem;
            color: $light-color;

            a{
                color: $--green;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.header{
    background: $--white;
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: $box-shadow;

    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        margin: 0 auto;
        max-width: 1200px;
        position: relative;

        .logo{
            font-size: 2.5rem;
            color: $--black;
    
            span{
                color: $--green;
            }
        }

        .navbar{

            a{
                margin: 0 1rem;
                font-size: 2rem;
                color: $light-color;

                &:hover{
                    text-decoration: underline;
                    color: $--green;
                }
            }
        }

        a{
            span{
                font-size: 2rem;
                color: $light-color;

                &:hover{
                    color: $--green;
                }
            }

            i{
                color: $light-color;

                &:hover{
                    color: $--green;
                }
            }

            &:hover{
                span{
                    color: $--green;
                }
            }

            &:hover{
                &:hover{
                    color: $--green;
                }
            }
        }

        .icons > *{
            font-size: 2.5rem;
            color: $light-color;
            cursor: pointer;
            margin-left: 1.5rem;

            &:hover{
                color: $--green;
            }
        }

        .profile{
            position: absolute;
            top: 120%; right: 2rem;
            box-shadow: $box-shadow;
            border: $border;
            border-radius: 0.5rem;
            padding: 2rem;
            text-align: center;
            background-color: $--white;
            width: 33rem;
            display: none;
            animation: fadeIn 0.2s linear;

            &.active{
                display: inline-block;
            }

            img{
                height: 15rem;
                width: 15rem;
                margin-bottom: 1rem;
                border-radius: 50%;
                object-fit: cover;
            }

            p{
                padding: 0.5rem 0;
                font-size: 2rem;
                color: $light-color;
            }
        }

    }

}

/* ATUALIZAR PERFIL */
.update-profile{
    form{
        max-width: 70rem;
        margin: 0 auto;
        background-color: $--white;
        box-shadow: $box-shadow;
        border: $border;
        border-radius: 0.5rem;
        padding: 2rem;
        text-align: center;

        img{
            height: 20rem;
            width: 20rem;
            margin-bottom: 1rem;
            border-radius: 50%;
            object-fit: cover;
        }

        .flex-btn{
            display: flex;
            gap: 1.5rem;
            justify-content: space-between;
            flex-wrap: wrap;

            .inpu-box{
                text-align: left;
                width: 49%;

                span{
                    display: block;
                    padding-top: 1rem;
                    font-size: 1.8rem;
                    color: $light-color;
                }
    
                .box{
                    width: 100%;
                    padding: 1.2rem 1.4rem;
                    font-size: 1.8rem;
                    color: $--black;
                    border: $border;
                    border-radius: 0.5rem;
                    margin: 1rem 0;
                    background-color: $--light-bg;
                }
            }
        }
    }
}

/* dashboard */
.dashboard{
    .box-container{
        @include grid(27rem);

        .box{
            padding: 1.5rem;
            text-align: center;
            border: $border;
            box-shadow: $box-shadow;
            background-color: $--white;
            border-radius: 0.5rem;

            h3{
                font-size: 3.5rem;
                color: $--black;
            }

            p{
                font-size: 2rem;
                background-color: $--light-bg;
                padding: 1.5rem;
                margin: 1rem 0;
                border-radius: 0.5rem;
                border: $border;
                color: $--black;
            }
        }
    }
}

/* add-products */
.add-products{
    form{
        max-width: 70rem;
        padding: 2rem;
        margin: 0 auto;
        text-align: center;
        border: $border;
        box-shadow: $box-shadow;
        background-color: $--white;
        border-radius: 0.5rem;

        .flex{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .inputbox{
                width: 49%;
            }
        }

        .box{
            width: 100%;
            margin: 1rem 0;
            padding: 1.2rem 1.4rem;
            font-size: 1.8rem;
            color: $--black;
            border-radius: 0.5rem;
            background-color: $--light-bg;
            border: $border;
        }

        textarea{
            height: 20rem;
            resize: none;
        }
    }
}

/* show-products */
.show-products{
    padding-top: 0;
    .box-container{
        @include grid(33rem);

        .box{
            text-align: center;
            border: $border;
            box-shadow: $box-shadow;
            background-color: $--white;
            border-radius: 0.5rem;
            padding: 2rem;
            position: relative;

            .price{
                position: absolute;
                top: 1rem; left: 1rem;
                padding: 1rem;
                font-size: 2rem;
                color: $--white;
                background-color: $--red;
                border-radius: 0.5rem;
            }

            img{
                width: 100%;
                margin-bottom: 1rem;
            }

            .name{
                margin: 0.5rem 0;
                font-size: 2rem;
                color: $--black;
            }

            .cat{
                font-size: 1.8rem;
                color: $--green;
            }

            .details{
                padding-top: 1rem;
                font-size: 1.5rem;
                line-height: 1.5;
                color: $light-color;
            }
        }
    }
}

/* update-products*/
.update-products{
    form{
        max-width: 50rem;
        padding: 2rem;
        margin: 0 auto;
        text-align: center;
        border: $border;
        box-shadow: $box-shadow;
        background-color: $--white;
        border-radius: 0.5rem;

        img{
            height: 25rem;
            object-fit: cover;
            margin-bottom: 1rem;
        }

        .box{
            width: 100%;
            border: $border;
            box-shadow: $box-shadow;
            background-color: $--light-bg;
            border-radius: 0.5rem;
            padding: 1.2rem 1.4rem;
            font-size: 1.8rem;
            color: $--black;
            margin: 1rem 0;
        }
    }
}

/* placed-orders */
.placed-orders{
    .box-container{
        @include grid(33rem);

        .box{
            border: $border;
            box-shadow: $box-shadow;
            background-color: $--white;
            border-radius: 0.5rem;
            padding: 2rem;

            p{
                margin-bottom: 1rem;
                line-height: 1.5;
                font-size: 2rem;
                color: $light-color;

                span{
                    color: $--green;
                }
            }

            .drop-down{
                width: 100%;
                padding: 1.2rem 1.4rem;
                font-size: 1.8rem;
                border: $border;
                border-radius: 0.5rem;
                background-color: $--light-bg;
                margin-bottom: 0.5rem;
            }
        }
    }
}

/*user-accounts */
.user-accounts{

    .box-container{
        @include grid(33rem);
        gap: 1.5rem;

        .box{
            border: $border;
            box-shadow: $box-shadow;
            background-color: $--white;
            border-radius: 0.5rem;
            padding: 2rem;
            text-align: center;

            img{
                height: 15rem;
                width: 15rem;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 1rem;
            }

            p{
                line-height: 1.5;
                padding: 0.5rem 0;
                font-size: 2rem;
                color: $light-color;

                span{
                    color: $--green;
                }
            }
        }
    }
}

/* messages */
.messages{
    .box-container{
        @include grid(33rem);
        gap: 1.5rem;

        .box{
            border: $border;
            box-shadow: $box-shadow;
            background-color: $--white;
            border-radius: 0.5rem;
            padding: 2rem;

            p{
                line-height: 1.5;
                padding: 0.5rem 0;
                font-size: 2rem;
                color: $light-color;

                span{
                    color: $--green;
                }
            }
        }
    }
}

/* home-bg */
.home-bg{
    background: url(../img/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    .home{
        display: flex;
        align-items: center;
        min-height: 60vh;

        .content{
            width: 50rem;

            span{
                color: $--orange;
                font-size: 2.5rem;
            }

            h3{
                font-size: 3rem;
                text-transform: uppercase;
                margin-top:1.5rem;
                color: $--black;
            }

            p{
                font-size: 1.6rem;
                padding: 1rem 0;
                line-height: 2;
                color: $light-color;
            }

            a{
                display: inline-block;
                width: auto;
            }
        }
    }
}

/* home-category */
.home-category{
    .box-container{
        @include grid(27rem);
        gap:1.5rem;

        .box{
            padding: 2rem;
            text-align: center;
            border: $border;
            box-shadow: $box-shadow;
            border-radius: 0.5rem;

            img{
                width: 100%;
                margin-bottom: 1rem;
            }

            h3{
                color: $--black;
                padding: 1rem 0;
                font-size: 2rem;
            }

            p{
                line-height: 1.5;
                font-size: 1.5rem;
                color: $light-color;
                padding: 0.5rem 0;
            }
        }
    }
}

/* products */
.products{
    .box-container{
        @include grid(35rem);
        gap: 1.5rem;

        .box{
            padding: 2rem;
            text-align: center;
            border: $border;
            background-color: $--white;
            box-shadow: $box-shadow;
            border-radius: 0.5rem;
            position: relative;

            .price{
                position: absolute;
                top: 1rem; left: 1rem;
                padding: 1rem;
                border-radius: 0.5rem;
                background-color: $--red;
                font-size: 2rem;
                color: $--white;
            }

            .fa-eye{
                position: absolute;
                top: 1rem; right: 1rem;
                border-radius: 0.5rem;
                height: 4.5rem;
                line-height: 4.3rem;
                width: 5rem;
                border: $border;
                color: $--black;
                font-size: 2rem;

                &:hover{
                    color: $--white;
                    background-color: $--black;
                }
            }

            img{
                width: 100%;
                margin-bottom: 1rem;
            }

            .name{
                font-size: 2rem;
                color: $--black;
                padding: 1rem 0;
            }

            .qty{
                margin: 0.5rem 0;
                border-radius: 0.5rem;
                padding: 1.2rem 1.4rem;
                font-size: 1.8rem;
                color: $--black;
                border: $border;
                width: 100%;
            }
        }
    }
}

/* quick-view" */
.quick-view{
    .box{
        max-width: 50rem;
        padding: 2rem;
        text-align: center;
        border: $border;
        background-color: $--white;
        box-shadow: $box-shadow;
        border-radius: 0.5rem;
        position: relative;
        margin: 0 auto;

        img{
            height: 25rem;
            margin-bottom: 1rem;
        }

        .name{
            font-size: 2rem;
            color: $--black;
            padding: 1rem 0;
        }

        .qty{
            margin: 0.5rem 0;
            border-radius: 0.5rem;
            padding: 1.2rem 1.4rem;
            font-size: 1.8rem;
            color: $--black;
            border: $border;
            width: 100%;
        }

        .price{
            position: absolute;
            top: 1rem; left: 1rem;
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: $--red;
            font-size: 2rem;
            color: $--white;
        }

        .details{
            padding: 1rem 0;
            line-height: 1.5;
            font-size: 1.5rem;
            color: $light-color;
        }
    }
}

/* p-category */
.p-category{
    @include grid(27rem);
    gap: 1.5rem;
    a{
        padding: 1.5rem;
        text-align: center;
        border: $border;
        background-color: $--white;
        box-shadow: $box-shadow;
        border-radius: 0.5rem;
        font-size: 2rem;
        color: $--black;

        &:hover{
            background-color: $--black;
            color: $--white;
        }
    }
}

/* about*/
.about{
    .row{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        align-items: center;

        .box{
            flex: 1 1 40rem;
            text-align: center;

            img{
                margin-bottom: 2rem;
                height: 40rem;
            }

            h3{
                padding: 1rem 0;
                font-size: 2.5rem;
                color: $--black;
            }

            p{
                line-height: 2;
                font-size: 1.5rem;
                color: $light-color;
                padding: 1rem 0;
            }

            .btn{
                display: inline-block;
                width: auto;
            }
        }
    }
}

/* reviews */
.reviews{
    .box-container{
        @include grid(30rem);
        gap: 1.5rem;

        .box{
            padding: 2rem;
            text-align: center;
            border: $border;
            background-color: $--white;
            box-shadow: $box-shadow;
            border-radius: 0.5rem;

            img{
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
                margin-bottom: 1rem;
                object-fit: cover;
            }

            p{
                padding: 1rem 0;
                font-size: 1.6rem;
                color: $light-color;
                line-height: 2;
            }

            .stars{
                display: inline-block;
                padding: 1rem;
                background-color: $--light-bg;
                border: $border;
                border-radius: 0.5rem;
                margin: 0.5rem 0;

                i{
                    font-size: 1.7rem;
                    color: $--orange;
                    margin: 0 0.3rem;
                }
            }

            h3{
                margin-top: 1rem;
                color: $--black;
                font-size: 2rem;
            }
        }
    }
}

/* contact */
.contact{
    form{
        margin: 0 auto;
        max-width: 50rem;
        padding: 2rem;
        text-align: center;
        border: $border;
        background-color: $--white;
        box-shadow: $box-shadow;
        border-radius: 0.5rem;
        padding-top: 1rem;

        .box{
            width: 100%;
            padding: 1.2rem 1.4rem;
            border: $border;
            margin: 1rem 0;
            background-color: $--light-bg;
            font-size: 1.8rem;
            color: $--black;
            border-radius: 0.5rem;
        }

        textarea{
            height: 15rem;
            resize: none;
        }
    }
}

/* search-form */
.search-form{
    
    form{
        display: flex;
        gap: 1.5rem;
        align-items: center;

        .box{
            width: 100%;
            padding: 1.4rem;
            border: $border;
            margin: 1rem 0;
            background-color: $--white;
            box-shadow: $box-shadow;
            font-size: 2rem;
            color: $--black;
            border-radius: 0.5rem;
        }

        .btn{
            display: inline-block;
            width: auto;
            margin-top: 0;
        }
    }
}

.wishlist{
    .box-container{
        @include grid(35rem);
        gap: 1.5rem;

        .box{
            padding: 2rem;
            text-align: center;
            border: $border;
            background-color: $--white;
            box-shadow: $box-shadow;
            border-radius: 0.5rem;
            position: relative;

            .price{
                padding: 1rem;
                color: $--white;
            }

            .fa-eye{
                position: absolute;
                top: 1rem; right: 1rem;
                border-radius: 0.5rem;
                height: 4.5rem;
                line-height: 4.3rem;
                width: 5rem;
                border: $border;
                color: $--black;
                font-size: 2rem;

                &:hover{
                    color: $--white;
                    background-color: $--black;
                }
            }

            .fa-times{
                position: absolute;
                top: 1rem; left: 1rem;
                border-radius: 0.5rem;
                height: 4.5rem;
                line-height: 4.3rem;
                width: 5rem;
                color: $--white;
                font-size: 2rem;
                background-color: $--red;

                &:hover{
                    background-color: $--black;
                }
            }

            img{
                width: 100%;
                margin-bottom: 1rem;
            }

            .name{
                font-size: 2rem;
                color: $--black;
                padding: 1rem 0;
            }

            .qty{
                margin: 0.5rem 0;
                border-radius: 0.5rem;
                padding: 1.2rem 1.4rem;
                font-size: 1.8rem;
                color: $--black;
                border: $border;
                width: 100%;
            }
        }
    }
}

/* footer - rodapé */
.footer{
    background-color: $--white;

    .box-container{
        @include grid(27rem);

        .box{
            h3{
                color: $--black;
                margin-bottom: 1rem;
                font-size: 2rem;
            }

            a,p{
                display: block;
                padding: 1.3rem 0;
                font-size: 1.6rem;
                color: $light-color;

                i{
                    color: $--green;
                    padding-right: 1rem;
                }
            }

            a:hover{
                text-decoration: underline;
                color: $--green;
            }
        }
    }
}

/* media queries */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 768px){
    #menu-btn {
        display: inline-block;
        transition: 0.2s linear;
    }

    .header{
    
        .flex{
    
            .navbar{
                border-top: $border;
                border-bottom: $border;
                background-color: $--white;
                position: absolute;
                top: 99%; left: 0; right: 0;
                transition: 0.2s linear;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                a{
                    display: block;
                    margin: 2rem;
                }

                &.active{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
    
        }
    
    }

    .update-profile{
        form{
    
            .flex-btn{
                flex-wrap: wrap;
                gap: 0;

                .inpu-box{
                    width: 100%;
                }
            }
        }
    }

    .add-products{
        form{
    
            .flex{
                .inputbox{
                    width: 100%;
                }
            }
    
        }
    }

    .home-bg{
        background-position: left;
        .home{
            justify-content: center;
            text-align: center;
        }
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .flex-btn{
        flex-flow: column;
        gap: 0;
    }

    .title{
        font-size: 3rem;
    }

    .show-products{
        .box-container{
            grid-template-columns: 1fr;
        }
    }

    .update-products{
        form{
    
            img{
                height: auto;
                width: 100%;
            }
    
        }
    }
    
    .placed-orders{
        .box-container{
            grid-template-columns: 1fr;
        }
    }

    .user-accounts{
        .box-container{
            grid-template-columns: 1fr;
        }
    }

    .messages{
        .box-container{
            grid-template-columns: 1fr;
        }
    }

    .home-category{
        .box-container{
            grid-template-columns: 1fr;
        }
    }

    .products{
        .box-container{
            grid-template-columns: 1fr;
        }
    }

    .quick-view{
        .box{
            img{
                height: auto;
                width: 100%;
            }
        }
    }

    .about{
        .row{
            .box{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}