@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
* {
  font-family: 'Rubik',sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: #333;
}

*::-moz-selection {
  background-color: #27ae60;
  color: #fff;
}

*::selection {
  background-color: #27ae60;
  color: #fff;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #27ae60;
}

body {
  background-color: #f6f6f6;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn, .delete-btn, .option-btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 2rem;
  padding: 1.3rem 3rem;
  cursor: pointer;
  text-align: center;
}

.btn:hover, .delete-btn:hover, .option-btn:hover {
  background-color: #333;
}

.btn {
  background-color: #27ae60;
}

.delete-btn {
  background-color: #e74c3c;
}

.option-btn {
  background-color: #f39c12;
}

.flex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.flex-btn > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #333;
  font-size: 3.5rem;
}

.message {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
  z-index: 10000;
}

.message span {
  font-size: 2rem;
  color: #333;
}

.message i {
  font-size: 2.5rem;
  cursor: pointer;
  color: #e74c3c;
}

.message i:hover {
  color: #333;
}

.empty {
  padding: 1.5rem;
  background: #fff;
  color: #e74c3c;
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  font-size: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

#menu-btn {
  display: none;
}

.form-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container form {
  width: 50rem;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #333;
  text-align: center;
  padding: 2rem;
}

.form-container form h3 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
}

.form-container form .box {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #333;
  background-color: #f6f6f6;
}

.form-container form p {
  margin-top: 2rem;
  font-size: 2.2rem;
  color: #666;
}

.form-container form p a {
  color: #27ae60;
}

.form-container form p a:hover {
  text-decoration: underline;
}

.header {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: #333;
}

.header .flex .logo span {
  color: #27ae60;
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: #666;
}

.header .flex .navbar a:hover {
  text-decoration: underline;
  color: #27ae60;
}

.header .flex a span {
  font-size: 2rem;
  color: #666;
}

.header .flex a span:hover {
  color: #27ae60;
}

.header .flex a i {
  color: #666;
}

.header .flex a i:hover {
  color: #27ae60;
}

.header .flex a:hover span {
  color: #27ae60;
}

.header .flex a:hover:hover {
  color: #27ae60;
}

.header .flex .icons > * {
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
  margin-left: 1.5rem;
}

.header .flex .icons > *:hover {
  color: #27ae60;
}

.header .flex .profile {
  position: absolute;
  top: 120%;
  right: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  width: 33rem;
  display: none;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}

.header .flex .profile.active {
  display: inline-block;
}

.header .flex .profile img {
  height: 15rem;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .flex .profile p {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #666;
}

/* ATUALIZAR PERFIL */
.update-profile form {
  max-width: 70rem;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
}

.update-profile form img {
  height: 20rem;
  width: 20rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.update-profile form .flex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.update-profile form .flex-btn .inpu-box {
  text-align: left;
  width: 49%;
}

.update-profile form .flex-btn .inpu-box span {
  display: block;
  padding-top: 1rem;
  font-size: 1.8rem;
  color: #666;
}

.update-profile form .flex-btn .inpu-box .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #333;
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  margin: 1rem 0;
  background-color: #f6f6f6;
}

/* dashboard */
.dashboard .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard .box-container .box {
  padding: 1.5rem;
  text-align: center;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
}

.dashboard .box-container .box h3 {
  font-size: 3.5rem;
  color: #333;
}

.dashboard .box-container .box p {
  font-size: 2rem;
  background-color: #f6f6f6;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  color: #333;
}

/* add-products */
.add-products form {
  max-width: 70rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
}

.add-products form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.add-products form .flex .inputbox {
  width: 49%;
}

.add-products form .box {
  width: 100%;
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #333;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  border: 0.2rem solid #333;
}

.add-products form textarea {
  height: 20rem;
  resize: none;
}

/* show-products */
.show-products {
  padding-top: 0;
}

.show-products .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show-products .box-container .box {
  text-align: center;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
}

.show-products .box-container .box .price {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
  background-color: #e74c3c;
  border-radius: 0.5rem;
}

.show-products .box-container .box img {
  width: 100%;
  margin-bottom: 1rem;
}

.show-products .box-container .box .name {
  margin: 0.5rem 0;
  font-size: 2rem;
  color: #333;
}

.show-products .box-container .box .cat {
  font-size: 1.8rem;
  color: #27ae60;
}

.show-products .box-container .box .details {
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666;
}

/* update-products*/
.update-products form {
  max-width: 50rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
}

.update-products form img {
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.update-products form .box {
  width: 100%;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #333;
  margin: 1rem 0;
}

/* placed-orders */
.placed-orders .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.placed-orders .box-container .box {
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
}

.placed-orders .box-container .box p {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 2rem;
  color: #666;
}

.placed-orders .box-container .box p span {
  color: #27ae60;
}

.placed-orders .box-container .box .drop-down {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  margin-bottom: 0.5rem;
}

/*user-accounts */
.user-accounts .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.user-accounts .box-container .box {
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
}

.user-accounts .box-container .box img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.user-accounts .box-container .box p {
  line-height: 1.5;
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #666;
}

.user-accounts .box-container .box p span {
  color: #27ae60;
}

/* messages */
.messages .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.messages .box-container .box {
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
}

.messages .box-container .box p {
  line-height: 1.5;
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #666;
}

.messages .box-container .box p span {
  color: #27ae60;
}

/* home-bg */
.home-bg {
  background: url(../img/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home-bg .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
}

.home-bg .home .content {
  width: 50rem;
}

.home-bg .home .content span {
  color: #f39c12;
  font-size: 2.5rem;
}

.home-bg .home .content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  color: #333;
}

.home-bg .home .content p {
  font-size: 1.6rem;
  padding: 1rem 0;
  line-height: 2;
  color: #666;
}

.home-bg .home .content a {
  display: inline-block;
  width: auto;
}

/* home-category */
.home-category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.home-category .box-container .box {
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.home-category .box-container .box img {
  width: 100%;
  margin-bottom: 1rem;
}

.home-category .box-container .box h3 {
  color: #333;
  padding: 1rem 0;
  font-size: 2rem;
}

.home-category .box-container .box p {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #666;
  padding: 0.5rem 0;
}

/* products */
.products .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.products .box-container .box {
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #333;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: relative;
}

.products .box-container .box .price {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #e74c3c;
  font-size: 2rem;
  color: #fff;
}

.products .box-container .box .fa-eye {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  width: 5rem;
  border: 0.2rem solid #333;
  color: #333;
  font-size: 2rem;
}

.products .box-container .box .fa-eye:hover {
  color: #fff;
  background-color: #333;
}

.products .box-container .box img {
  width: 100%;
  margin-bottom: 1rem;
}

.products .box-container .box .name {
  font-size: 2rem;
  color: #333;
  padding: 1rem 0;
}

.products .box-container .box .qty {
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #333;
  border: 0.2rem solid #333;
  width: 100%;
}

/* quick-view" */
.quick-view .box {
  max-width: 50rem;
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #333;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: relative;
  margin: 0 auto;
}

.quick-view .box img {
  height: 25rem;
  margin-bottom: 1rem;
}

.quick-view .box .name {
  font-size: 2rem;
  color: #333;
  padding: 1rem 0;
}

.quick-view .box .qty {
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #333;
  border: 0.2rem solid #333;
  width: 100%;
}

.quick-view .box .price {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #e74c3c;
  font-size: 2rem;
  color: #fff;
}

.quick-view .box .details {
  padding: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #666;
}

/* p-category */
.p-category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.p-category a {
  padding: 1.5rem;
  text-align: center;
  border: 0.2rem solid #333;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 2rem;
  color: #333;
}

.p-category a:hover {
  background-color: #333;
  color: #fff;
}

/* about*/
.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .row .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
}

.about .row .box img {
  margin-bottom: 2rem;
  height: 40rem;
}

.about .row .box h3 {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #333;
}

.about .row .box p {
  line-height: 2;
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.about .row .box .btn {
  display: inline-block;
  width: auto;
}

/* reviews */
.reviews .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.reviews .box-container .box {
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #333;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.reviews .box-container .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews .box-container .box p {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #666;
  line-height: 2;
}

.reviews .box-container .box .stars {
  display: inline-block;
  padding: 1rem;
  background-color: #f6f6f6;
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.reviews .box-container .box .stars i {
  font-size: 1.7rem;
  color: #f39c12;
  margin: 0 0.3rem;
}

.reviews .box-container .box h3 {
  margin-top: 1rem;
  color: #333;
  font-size: 2rem;
}

/* contact */
.contact form {
  margin: 0 auto;
  max-width: 50rem;
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #333;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding-top: 1rem;
}

.contact form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.2rem solid #333;
  margin: 1rem 0;
  background-color: #f6f6f6;
  font-size: 1.8rem;
  color: #333;
  border-radius: 0.5rem;
}

.contact form textarea {
  height: 15rem;
  resize: none;
}

/* search-form */
.search-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form form .box {
  width: 100%;
  padding: 1.4rem;
  border: 0.2rem solid #333;
  margin: 1rem 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: #333;
  border-radius: 0.5rem;
}

.search-form form .btn {
  display: inline-block;
  width: auto;
  margin-top: 0;
}

.wishlist .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.wishlist .box-container .box {
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #333;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: relative;
}

.wishlist .box-container .box .price {
  padding: 1rem;
  color: #fff;
}

.wishlist .box-container .box .fa-eye {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  width: 5rem;
  border: 0.2rem solid #333;
  color: #333;
  font-size: 2rem;
}

.wishlist .box-container .box .fa-eye:hover {
  color: #fff;
  background-color: #333;
}

.wishlist .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 0.5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  width: 5rem;
  color: #fff;
  font-size: 2rem;
  background-color: #e74c3c;
}

.wishlist .box-container .box .fa-times:hover {
  background-color: #333;
}

.wishlist .box-container .box img {
  width: 100%;
  margin-bottom: 1rem;
}

.wishlist .box-container .box .name {
  font-size: 2rem;
  color: #333;
  padding: 1rem 0;
}

.wishlist .box-container .box .qty {
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #333;
  border: 0.2rem solid #333;
  width: 100%;
}

/* footer - rodapé */
.footer {
  background-color: #fff;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .box-container .box h3 {
  color: #333;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.footer .box-container .box a, .footer .box-container .box p {
  display: block;
  padding: 1.3rem 0;
  font-size: 1.6rem;
  color: #666;
}

.footer .box-container .box a i, .footer .box-container .box p i {
  color: #27ae60;
  padding-right: 1rem;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
  color: #27ae60;
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .header .flex .navbar {
    border-top: 0.2rem solid #333;
    border-bottom: 0.2rem solid #333;
    background-color: #fff;
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }
  .header .flex .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .update-profile form .flex-btn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
  }
  .update-profile form .flex-btn .inpu-box {
    width: 100%;
  }
  .add-products form .flex .inputbox {
    width: 100%;
  }
  .home-bg {
    background-position: left;
  }
  .home-bg .home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .flex-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 0;
  }
  .title {
    font-size: 3rem;
  }
  .show-products .box-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .update-products form img {
    height: auto;
    width: 100%;
  }
  .placed-orders .box-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .user-accounts .box-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .messages .box-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home-category .box-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .products .box-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .quick-view .box img {
    height: auto;
    width: 100%;
  }
  .about .row .box img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=estilo.css.map */