@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

$--green: #27ae60;
$--orange: #f39c12;
$--red: #e74c3c;
$--black: #333;
$light-color: #666;
$--white: #fff;
$--light-bg: #f6f6f6;
$border: 0.2rem solid $--black;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

*{
    font-family: 'Rubik',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    color: $--black;
}

*::selection{
    background-color: $--green;
    color: $--white;
}

*::-webkit-scrollbar{
    height: 0.5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: $--green;
}

body{
    background-color: $--light-bg;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn, .delete-btn, .option-btn{
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    color: $--white;
    font-size: 2rem;
    padding: 1.3rem 3rem;
    cursor: pointer;
    text-align: center;

    &:hover{
        background-color: $--black;
    }
}

.btn{
    background-color: $--green;
}

.delete-btn{
    background-color: $--red;
}

.option-btn{
    background-color: $--orange;
}

.flex-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex-btn > *{
    flex: 1;
}

.title{
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: $--black;
    font-size: 3.5rem;
}

.message{
    position: sticky;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $--light-bg;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 10000;

    span{
        font-size: 2rem;
        color: $--black;
    }

    i{
        font-size: 2.5rem;
        cursor: pointer;
        color: $--red;

        &:hover{
            color: $--black;
        }
    }
}

@keyframes fadeIn{
    0%{
        transform: translateY(1rem);
    }
}

#menu-btn {
    display: none;
}

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        width: 50rem;
        background-color: $--white;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        border: $border;
        text-align: center;
        padding: 2rem;

        h3{
            font-size: 3rem;
            color: $--black;
            margin-bottom: 1rem;
        }

        .box{
            width: 100%;
            margin: 1rem 0;
            border-radius: 0.5rem;
            border: $border;
            padding: 1.2rem 1.4rem;
            font-size: 1.8rem;
            color: $--black;
            background-color: $--light-bg;
        }

        p{
            margin-top: 2rem;
            font-size: 2.2rem;
            color: $light-color;

            a{
                color: $--green;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.header{
    background: $--white;
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: $box-shadow;

    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        margin: 0 auto;
        max-width: 1200px;
        position: relative;

        .logo{
            font-size: 2.5rem;
            color: $--black;
    
            span{
                color: $--green;
            }
        }

        .navbar{

            a{
                margin: 0 1rem;
                font-size: 2rem;
                color: $light-color;

                &:hover{
                    text-decoration: underline;
                    color: $--green;
                }
            }
        }

        .icons > *{
            font-size: 2.5rem;
            color: $light-color;
            cursor: pointer;
            margin-left: 1.5rem;

            &:hover{
                color: $--green;
            }
        }

        .profile{
            position: absolute;
            top: 120%; right: 2rem;
            box-shadow: $box-shadow;
            border: $border;
            border-radius: 0.5rem;
            padding: 2rem;
            text-align: center;
            background-color: $--white;
            width: 33rem;
            display: none;
            animation: fadeIn 0.2s linear;

            &.active{
                display: inline-block;
            }

            img{
                height: 15rem;
                width: 15rem;
                margin-bottom: 1rem;
                border-radius: 50%;
                object-fit: cover;
            }

            p{
                padding: 0.5rem 0;
                font-size: 2rem;
                color: $light-color;
            }
        }

    }

}

/* ATUALIZAR PERFIL */
.update-profile{
    form{
        max-width: 70rem;
        margin: 0 auto;
        background-color: $--white;
        box-shadow: $box-shadow;
        border: $border;
        border-radius: 0.5rem;
        padding: 2rem;
        text-align: center;

        img{
            height: 20rem;
            width: 20rem;
            margin-bottom: 1rem;
            border-radius: 50%;
            object-fit: cover;
        }

        .flex-btn{
            display: flex;
            gap: 1.5rem;
            justify-content: space-between;
            flex-wrap: wrap;

            .inpu-box{
                text-align: left;
                width: 49%;

                span{
                    display: block;
                    padding-top: 1rem;
                    font-size: 1.8rem;
                    color: $light-color;
                }
    
                .box{
                    width: 100%;
                    padding: 1.2rem 1.4rem;
                    font-size: 1.8rem;
                    color: $--black;
                    border: $border;
                    border-radius: 0.5rem;
                    margin: 1rem 0;
                    background-color: $--light-bg;
                }
            }
        }
    }
}


/* media queries */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 768px){
    #menu-btn {
        display: inline-block;
        transition: 0.2s linear;
    }

    .header{
    
        .flex{
    
            .navbar{
                border-top: $border;
                border-bottom: $border;
                background-color: $--white;
                position: absolute;
                top: 99%; left: 0; right: 0;
                transition: 0.2s linear;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                a{
                    display: block;
                    margin: 2rem;
                }

                &.active{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
    
        }
    
    }

    .update-profile{
        form{
    
            .flex-btn{
                flex-wrap: wrap;
                gap: 0;
                
                .inpu-box{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .flex-btn{
        flex-flow: column;
        gap: 0;
    }

    .title{
        font-size: 3rem;
    }
}