@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
* {
  font-family: 'Rubik',sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: #333;
}

*::-moz-selection {
  background-color: #27ae60;
  color: #fff;
}

*::selection {
  background-color: #27ae60;
  color: #fff;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #27ae60;
}

body {
  background-color: #f6f6f6;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn, .delete-btn, .option-btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 2rem;
  padding: 1.3rem 3rem;
  cursor: pointer;
  text-align: center;
}

.btn:hover, .delete-btn:hover, .option-btn:hover {
  background-color: #333;
}

.btn {
  background-color: #27ae60;
}

.delete-btn {
  background-color: #e74c3c;
}

.option-btn {
  background-color: #f39c12;
}

.flex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.flex-btn > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #333;
  font-size: 3.5rem;
}

.message {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
  z-index: 10000;
}

.message span {
  font-size: 2rem;
  color: #333;
}

.message i {
  font-size: 2.5rem;
  cursor: pointer;
  color: #e74c3c;
}

.message i:hover {
  color: #333;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

#menu-btn {
  display: none;
}

.form-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container form {
  width: 50rem;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #333;
  text-align: center;
  padding: 2rem;
}

.form-container form h3 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
}

.form-container form .box {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #333;
  background-color: #f6f6f6;
}

.form-container form p {
  margin-top: 2rem;
  font-size: 2.2rem;
  color: #666;
}

.form-container form p a {
  color: #27ae60;
}

.form-container form p a:hover {
  text-decoration: underline;
}

.header {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: #333;
}

.header .flex .logo span {
  color: #27ae60;
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: #666;
}

.header .flex .navbar a:hover {
  text-decoration: underline;
  color: #27ae60;
}

.header .flex .icons > * {
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
  margin-left: 1.5rem;
}

.header .flex .icons > *:hover {
  color: #27ae60;
}

.header .flex .profile {
  position: absolute;
  top: 120%;
  right: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  width: 33rem;
  display: none;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}

.header .flex .profile.active {
  display: inline-block;
}

.header .flex .profile img {
  height: 15rem;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .flex .profile p {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #666;
}

/* ATUALIZAR PERFIL */
.update-profile form {
  max-width: 70rem;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
}

.update-profile form img {
  height: 20rem;
  width: 20rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.update-profile form .flex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.update-profile form .flex-btn .inpu-box {
  text-align: left;
  width: 49%;
}

.update-profile form .flex-btn .inpu-box span {
  display: block;
  padding-top: 1rem;
  font-size: 1.8rem;
  color: #666;
}

.update-profile form .flex-btn .inpu-box .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #333;
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  margin: 1rem 0;
  background-color: #f6f6f6;
}

/* dashboard */
.dashboard .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dashboard .box-container .box {
  padding: 1.5rem;
  text-align: center;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
}

.dashboard .box-container .box h3 {
  font-size: 3.5rem;
  color: #333;
}

.dashboard .box-container .box p {
  font-size: 2rem;
  background-color: #f6f6f6;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  color: #333;
}

/* add-products */
.add-products form {
  max-width: 70rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
}

.add-products form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.add-products form .flex .inputbox {
  width: 49%;
}

.add-products form .box {
  width: 100%;
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #333;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  border: 0.2rem solid #333;
}

.add-products form textarea {
  height: 20rem;
  resize: none;
}

/* show-products */
.show-products .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.show-products .box-container .box {
  text-align: center;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
}

/* footer - rodapé */
.footer {
  background-color: #fff;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .box-container .box h3 {
  color: #333;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.footer .box-container .box a, .footer .box-container .box p {
  display: block;
  padding: 1.3rem 0;
  font-size: 1.6rem;
  color: #666;
}

.footer .box-container .box a i, .footer .box-container .box p i {
  color: #27ae60;
  padding-right: 1rem;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
  color: #27ae60;
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .header .flex .navbar {
    border-top: 0.2rem solid #333;
    border-bottom: 0.2rem solid #333;
    background-color: #fff;
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }
  .header .flex .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .update-profile form .flex-btn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
  }
  .update-profile form .flex-btn .inpu-box {
    width: 100%;
  }
  .add-products form .flex .inputbox {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .flex-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 0;
  }
  .title {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=estilo.css.map */